/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
input,
p,
label {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 1s ease-in-out;
}
button:hover {
  background: #26374b;
}
@keyframes buttonAnimation {
}
body {
  font-family: "Poppins", sans-serif;
}
/* Nav and Hero Section */
.main-head {
  background: #131c27;
  color: white;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 1 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url("img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 3rem;
}

/* Locations */
#locations {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url("img/new-york-page.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
}
.locations-head h3 {
  padding: 2rem 0rem;
  background: linear-gradient(#131c27, #894f47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 60%;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}
.moving-cloud1 {
}
.moving-cloud2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
}
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits */
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #343c44;
}
.card p {
  font-size: 1.4em;
}
.card h4 {
  padding: 2rem;
}
.card p {
  padding: 1rem;
  color: black;
}
.cards img {
  max-width: 14%;
  margin: 2rem;
}
.cards-icon {
  background: #343c44;
}
.cards-content {
  padding: 2rem;
}

/* Contact */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url(img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  justify-content: center;
  align-items: center;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.form-email,
.form-name {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 4rem;
}
.form-wrapper button {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
}
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
    width: 40rem;
    pointer-events: none;
  }
  .moving-cloud1 {
    z-index: -1;
  }
  .moving-cloud2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.7);
    -webkit-text-fill-color: white;
    font-size: 3.2rem;
    padding: 2rem;
  }
}
